<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Results</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Form Results</h1>
<p>First Name: <%= fname %></p>
<p>Last Name: <%= lname %></p>
<p>Age: <%= calculatedAge %> years</p>
<p>Email: <%= email %></p>
<button onclick="window.location.href='/'">Go back to the form</button>
</body>
</html>
