form {
  width: 600px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #cdcdcd;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e9ffff;
  display: grid;
  gap: 10px;
}

.form-group {
  display: grid;
  grid-template-columns: 20% 75%;
  gap: 10px;
}

.form-group label {
  font-weight: bold;
  color: #00406e;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
}

.form-group input.input-error {
  border: 1px solid red;
  background-color: #ffe6e6;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  grid-column: 2 / span 2;
}

button {
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: #0061a5;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00406e;
}

h1 {
  text-align: center;
  font-family: Calibri, sans-serif;
  color: #00406e;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  background-color: #0061a5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00406e;
}
